<div class="particles" id="particles"></div>

<h1>Bienvenido a mi página</h1>

<div class="container">
  <div class="profile">
    <img [src]="imagenSoldado" alt="Soldado" class="profile-img">
    <div>
      <h2>¿Quién soy?</h2>
      <p>Mi nombre es Jorge Humberto Torres Luna.</p>
      <p>Nací el 14 de febrero del 2005 en Saltillo, Coahuila.</p>
      <p>Estudio en la Universidad Tecnológica de Coahuila.</p>
      <p>Mi carrera es Desarrollo de Software Multiplataforma.</p>
    </div>
  </div>

  <div class="interests">
    <h3>¿Qué me gusta?</h3>
    <p>Me gusta escuchar música.</p>
    <p>Me gusta ir al cine.</p>
    <p>Me gusta la tecnología.</p>
    <p>Me gusta aprender cosas nuevas y suelo ser una persona proactiva.</p>
  </div>
</div>